<head>
    <link rel='stylesheet' type='text/css' media='screen' href='/cadastro.css'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
</head>
    <div id="header">
        <h2>Reclame Ali</h2>
    </div>
    <div id="cadastro_container">
         <form action="/cadastro" method="POST">
            <label for="name_input">Nome Completo</label>
            <br><input type="text" id="name_input" name="nome" class="input">
            <br><br>
            <label for="email_input">E-mail</label>
            <br><input type="text" id="email_input" name="email" class="input">
            <br><br>
            <label for="telefone_input">Telefone</label>
            <br><input type="text" id="telefone_input" name="telefone" class="input">
            <br><br>
            <label for="senha_input">Senha</label>
            <br><input type="text" id="senha_input" name="senha" class="input">
            <br><br>
            <label for="cargo_input">Cargo</label>
            <br><input type="text" id="cargo_input" name="cargo" class="input">
            <br><br>
                
            <button type="submit" value="Cadastrar"><input type="submit" value="Cadastrar"></button>
            <a href="/"><br><br>Voltar</a>
        </form>
            
    </div>
