<head>
    <script src='main.js'></script>
    <link rel='stylesheet' type='text/css' media='screen' href='login.css'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <title>Reclame Ali - Login</title>
</head>

<div id="header">
    <h2>Reclame Ali</h2>
</div>

<div id="login_container">
    <form action="/login" method="POST">
        <label for="username_input">E-mail<br>
            <input type="text" id="username_input" name="email" class="input">
        <br><br>
        <label for="username_input">Senha<br>
            <input type="password" id="password_input" name="senha" class="input">
        <br><br>
        <a href="../main/main.html"><input type="submit" value="Login"></a>
        <br><br><br>
    </form>
    <a style="text-align: center;" href="/cadastro">Cadastre-se</a>
</div>