<head>
    <title>Erro - Reclamações</title>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
</head>
<h2 style="text-align: center; color: white">{{error}}</h2>
<br>
<h2><a href='/'>Clique aqui para tentar novamente</a></h2>